<div class="jumbtron">
  <nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand navbar-logo" href="#">
        <img src="/assets/img/log.png" alt="" width="30" height="24" >
        Tarjeta Visa
      </a>
    </div>
  </nav>
    <hr>
  <div class="row mt-4">
    <div class="col md-5">
      <legend class="w-auto px-2 text-center mt-4" style="color:blue; text-align: center important;">AGREGAR TARJETA</legend>
      <br>
      <app-tarjeta-credito></app-tarjeta-credito>
    </div>
    <div class="col md-5">
      <legend class="w-auto px-2 text-center mt-4" style="color:blue; text-align: center important;">LISTADO DE TARJETAS</legend>
      <br>
      <app-list-tarajeta-credito></app-list-tarajeta-credito>
    </div>
  </div>
</div>
